/* Common definitions */
body{
    font-family: Arial;
    background-color: beige;
}
h1{
    text-align: center;
}

/* Definitions for article */
article{
    width: 600px;
    margin: auto;
    text-align: justify;
}
article p:first-child::first-letter{
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 60px;
    line-height: 20px;

}
article a{
    color: firebrick;
    text-decoration: underline;
}
article a:hover{
    color: orangered;
    text-decoration: none;
}
article a:visited{
    color: chocolate;
}

/* Definitions for footer */
footer{
    text-align: center;
}
footer img{
    width: 20px;
}
footer p:first-child::before{
    font-size: 12px;
    content: "Hosting by GitHub Pages ";
}